/* Header/Blog Title */
/* .header {
    padding: 10px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 30px;
} */
/* Header/Blog Title */

.header {
    width: 100%;
    height: 10%;
    font-family: 'Times New Roman', Times, serif;
    background: white;
    display: flex;
    flex-direction: row;
}

.header img {
    width: 5%;
    height: 90%;
    display: block;
}

.header h1 {
    /* position: absolute; */
    /* top: 6%;
    left: 5%; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 200%;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.header p {
    /* position: absolute; */
    /* top: 10%;
    left: 78%; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    color: #1976D2;
}

.title1 {
    width: 50%;
    padding-top: 2%;
}

.title2 {
    width: 41%;
    text-align: right;
    padding-top: 2%;
}

/* Style the top navigation bar */
.topnav {
    width: 100%;
    overflow: hidden;
    background-color: #1565C0;
    margin: 0;
    padding: 0;
}

/* Style the topnav links */
.topnav a {
    width: 100%;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 30px;
    text-decoration: none;
    font-size: 16px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other and zoom out */
@media screen and (max-width: 389px) {

    .header {
        width: 100%;
        height: 5%;
        font-family: 'Times New Roman', Times, serif;
        background: white;
        display: flex;
        flex-direction: row;
    }

    .header img {
        width: 25%;
        height: 90%;
        display: block;
    }

    .header h1 {
        /* position: absolute; */
        /* top: 6%;
    left: 5%; */
        font-family: 'Times New Roman', Times, serif;
        font-size: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

    .header p {
        /* position: absolute; */
        /* top: 10%;
    left: 78%; */
        font-family: 'Times New Roman', Times, serif;
        font-size: 100%;
        color: rgb(0, 200, 255);
    }

    .title1 {
        width: 50%;
    }

    .title2 {
        width: 41%;
        text-align: right;
    }
}

@media screen and (max-width: 845px) {

    .header {
        width: 100%;
        height: 10%;
        font-family: 'Times New Roman', Times, serif;
        background: white;
        display: flex;
        flex-direction: row;
    }

    .header img {
        width: 15%;
        height: 90%;
        display: block;
    }

    .header h1 {
        /* position: absolute; */
        /* top: 6%;
    left: 5%; */
        font-family: 'Times New Roman', Times, serif;
        font-size: 100%;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

    .header p {
        /* position: absolute; */
        /* top: 10%;
    left: 78%; */
        font-family: 'Times New Roman', Times, serif;
        font-size: 100%;
        color: rgb(0, 200, 255);
    }

    .title1 {
        width: 50%;
        display: row;
        flex-direction: center;
    }

    .title2 {
        margin-top: 2%;
        width: 41%;
        text-align: right;
    }
}


/* Style the top navigation bar */
/* .topnav {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    overflow: hidden;
    background-color: #309ee2;
} */

/* Style the topnav links */
/* .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
} */

/* Change color on hover */
/* .topnav a:hover {
    background-color: #ddd;
    color: black;
} */