<!-- <div class="header">
  <h1>CÔNG TY TNHH SEVAL</h1>
  <p>SDT: 0973510465</p>
  <p>Địa chỉ: Võ Văn Hát - Long Trường - QUẬN 9</p>
</div> -->
<!-- <div class ="logo_seval">
  <a href="https://saigonvalve.com/"><img src="assets/img/LOGO_SEVAL.png"></a>
</div> -->

<div class="header">
  <img src="assets/img/LOGO SG-VAL.png" alt="Angular Logo" routerLink="/home" target="_parent">
  <h1 class="title1">CÔNG TY TNHH SAIGONVALVE</h1>
  <p class="title2">FLOW CONTROL SOLUTION</p>
</div>
<!-- <div class="topnav">
  <a routerLink="">Trang chủ</a>
  <a routerLink="map">Map</a>
  <a routerLink="clock-timer">Hẹn giờ</a>
  <a href="https://id.seval.com.vn/scriptentry?script=43&deploy=59" target="_blank">Lịch sử vận hành</a>
  <a routerLink="resovle-problem">Xử lý sự cố</a>
  <a href="#" style="float:right">Thông tin</a>
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
</div> -->

<nav class="navbar navbar-expand-lg topnav">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a routerLink="/home" target="_parent">
            <span>Trang chủ</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="controller-pump" target="_parent">
            <span>Điều khiển trạm bơm</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="setting" target="_parent">
            <span>Điều khiển PLC</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="controller-iot" target="_parent">
            <span>Điều khiển IOT</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="clock-timer" target="_parent">
            <span>Hẹn giờ</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="map" target="_parent">
            <span>Map</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="resovle-problem" target="_parent">
            <span>Xử lý sự cố</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a routerLink="" target="_parent">
            <span>Đăng nhập</span>
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a (click)="logout()" target="_parent">
            <span>Đăng xuất</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>