<div class="container-flur">
    <div class="container">
        <div class="container1">
            <h2 id="HightPressure_Title">ÁP CAO</h2>
            <p>Trạng thái: <span *ngIf="DO_01_Status === 'OFF' && DO_02_Status === 'ON'">Mở</span><span
                    *ngIf="DO_01_Status === 'ON' && DO_02_Status === 'OFF'">Đóng</span></p>
            <!-- <div style="display: flex; justify-content: center; align-items: center;">
                <div id="light_HightPressure"
                    style="width: 25px; height: 25px; background-color: rgb(21, 216, 21); border-radius: 50%; margin-right: 60px;padding: 4px;">
                </div>
            </div> -->
            <button class="clock-icon" (click)="show_timer('Áp cao')">
                ⏰ Hẹn giờ <!-- Biểu tượng đồng hồ (cài đặt chung) -->
            </button>
            <!-- <button class="gear-icon" (click)="showCustomSettings('Áp cao')">
                ⚙️ Cài đặt 
            </button> -->
            <!-- <button class="button button-secondary" (click)="showScheduleList()">Danh sách thời gian</button> -->
            <div id="schedule_HightPressure"></div>
        </div>

        <div class="container1">
            <h2 id="CloseVal_Title">ĐÓNG HOÀN TOÀN</h2>
            <p>Trạng thái: <span *ngIf="DO_05_Status === 'OFF' && DO_06_Status === 'ON'">Mở</span><span
                    *ngIf="DO_05_Status === 'ON' && DO_06_Status === 'OFF'">Đóng</span></p>
            <!-- <div style="display: flex; justify-content: center; align-items: center;">
                <div id="light_CloseVal"
                    style="width: 25px; height: 25px; background-color: rgb(21, 216, 21); border-radius: 50%; margin-right: 60px;padding: 4px;">
                </div>
            </div> -->
            <button class="clock-icon" (click)="show_timer('Đóng hoàn toàn')">
                ⏰ Hẹn giờ <!-- Biểu tượng đồng hồ (cài đặt chung) -->
            </button>
            <!-- <button class="gear-icon" (click)="showCustomSettings('Đóng hoàn toàn')">
                ⚙️ Cài đặt 
            </button> -->
            <!-- <button class="button button-secondary" (click)="showScheduleList()">Danh sách thời gian</button> -->
            <div id="schedule_CloseVal"></div>
        </div>

        <!-- <div class="container1">
            <h2 id="LowPressure_Title">ÁP THẤP</h2>
            <p>Trạng thái: <span *ngIf="DO_01_Status === 'ON' && DO_02_Status === 'OFF'">Mở</span><span
                    *ngIf="DO_01_Status === 'OFF' && DO_02_Status === 'ON'">Đóng</span></p> -->
        <!-- <div style="display: flex; justify-content: center; align-items: center;">
                <div id="light_LowPressure"
                    style="width: 25px; height: 25px; background-color: rgb(21, 216, 21); border-radius: 50%; margin-right: 60px;padding: 4px;">
                </div>
            </div> -->
        <!-- <button class="clock-icon" (click)="show_timer('Áp thấp')">
                ⏰ Hẹn giờ
            </button> -->
        <!-- <button class="gear-icon" (click)="showCustomSettings('Áp thấp')">
                ⚙️ Cài đặt
            </button> -->
        <!-- <button class="button button-secondary" (click)="showScheduleList()">Danh sách thời gian</button> -->
        <!-- <div id="schedule_LowPressure"></div>
        </div> -->


        <div class="container1">
            <h2 id="OpenVal_Title">MỞ HOÀN TOÀN</h2>
            <p>Trạng thái: <span *ngIf="DO_03_Status === 'OFF' && DO_04_Status === 'ON'">Mở</span><span
                    *ngIf="DO_03_Status === 'ON' && DO_04_Status === 'OFF'">Đóng</span></p>
            <!-- <div style="display: flex; justify-content: center; align-items: center;">
                <div id="light_OpenVal"
                    style="width: 25px; height: 25px; background-color: rgb(21, 216, 21); border-radius: 50%; margin-right: 60px;padding: 4px;">
                </div>
            </div> -->
            <button class="clock-icon" (click)="show_timer('Mở hoàn toàn')">
                ⏰ Hẹn giờ <!-- Biểu tượng đồng hồ (cài đặt chung) -->
            </button>
            <!-- <button class="gear-icon" (click)="showCustomSettings('Mở hoàn toàn')">
                ⚙️ Cài đặt 
            </button> -->
            <!-- <button class="button button-secondary" (click)="showScheduleList()">Danh sách thời gian</button> -->
            <div id="list_"></div>
        </div>
    </div>
    <!-- Bảng nằm bên dưới container val1 -->
    <div class="rightcolumn">
        <div class="card">
            <h2 style="font-size: 20px;">DANH SÁCH HẸN GIỜ ĐÃ CÀI ĐẶT</h2>
            <div class="table-scroll"> <!-- Thêm phần tử bọc bảng với lớp .table-scroll -->
                <table id="dataTable">
                    <tr>
                        <th>STT</th>
                        <th>Tên</th>
                        <th>Thời gian bắt đầu</th>
                        <th>Thời gian kết thúc</th>
                        <th>Trạng thái</th>
                    </tr>
                    <tr *ngFor="let data of scheduleDataArr; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.start_time}}</td>
                        <td>{{data.end_time}}</td>
                        <td *ngIf="data.name === 'Đóng hoàn toàn' && DO_05_Status === 'OFF' && DO_06_Status === 'ON'">Mở
                        </td>
                        <td *ngIf="data.name === 'Đóng hoàn toàn' && DO_05_Status === 'ON' && DO_06_Status === 'OFF'">
                            Đóng</td>
                        <td *ngIf="data.name === 'Áp thấp' && DO_01_Status === 'ON' && DO_02_Status === 'OFF'">Mở</td>
                        <td *ngIf="data.name === 'Áp thấp' && DO_01_Status === 'OFF' && DO_02_Status === 'ON'">Đóng</td>
                        <td *ngIf="data.name === 'Áp cao' && DO_01_Status === 'OFF' && DO_02_Status === 'ON'">Mở</td>
                        <td *ngIf="data.name === 'Áp cao' && DO_01_Status === 'ON' && DO_02_Status === 'OFF'">Đóng</td>
                        <td *ngIf="data.name === 'Mở hoàn toàn' && DO_03_Status === 'OFF' && DO_04_Status === 'ON'">Mở
                        </td>
                        <td *ngIf="data.name === 'Mở hoàn toàn' && DO_03_Status === 'ON' && DO_04_Status === 'OFF'">Đóng
                        </td>
                    </tr>
                </table>
                <!-- <p>Some text about me in culpa qui officia deserunt mollit anim..</p> -->
            </div>
        </div>
    </div>


    <!-- FORM HẸN GIỜ -->
    <div id="settingsForm" *ngIf="settingsFormVisible" [style.display]="settingsFormVisible ? 'block' : 'none'"
        style="display: none; position: fixed; top: 25%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); width: 300px; z-index: 2;">
        <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
            <button class="button button-secondary" type="button" (click)="closeForm()"
                style="margin: -10px;">&#10006;</button>
        </div>
        <h2 style="margin-bottom: 10px;">Form Cài Đặt</h2>
        <form #scheduleForm="ngForm" (ngSubmit)="addSchedule(scheduleForm)">
            <label for="action">Tên chức năng: </label>
            <span> {{functionName}}</span><br><br>
            <label for="startTime">Thời gian bắt đầu: </label>
            <input type="time" ngModel id="startTime" name="startTime" style="margin-right: 10px;"><br><br>
            <label for="endTime">Thời gian kết thúc: </label>
            <input type="time" ngModel id="endTime" name="endTime"><br><br>
            <div style="text-align: center;">
                <button type="submit" class="button button-primary" style="margin-right: 10px;">Thêm
                    Thời Gian</button>
                <button class="button button-secondary" type="button" (click)="closeForm()">Đóng</button>
            </div>
        </form>
    </div>


    <!-- Form cài đặt -->
    <!-- <div id="settingsForm"
style="display: none; position: fixed; top: 25%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); width: 300px; z-index: 2;">
<div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
  <button class="button button-secondary" type="button" (click)="closeForm()"
    style="margin: -10px;">&#10006;</button>
</div>
<h2 style="margin-bottom: 10px;">Form Cài Đặt</h2>
<form>
  <label for="action">Chọn chức năng:</label>
  <select id="action" name="action">
    <option value="Áp cao">Áp cao</option>
    <option value="Áp thấp">Áp thấp</option>
    <option value="Mở van">Mở van hoàn toàn</option>
    <option value="Đóng van">Đóng van hoàn toàn</option>
  </select><br><br>
  <label for="startTime">Thời gian bắt đầu:</label>
  <input type="time" id="startTime" name="startTime" style="margin-right: 10px;"><br><br>
  <label for="endTime">Thời gian kết thúc:</label>
  <input type="time" id="endTime" name="endTime"><br><br>
  <div style="text-align: center;">
    <button class="button button-primary" type="button" (click)="addSchedule()" style="margin-right: 10px;">Thêm
      Thời Gian</button>
    <button class="button button-secondary" type="button" (click)="closeForm()">Đóng</button>
  </div>
</form>
</div> -->

    <!-- FORM CÀI ĐẶT -->
    <!-- Form cài đặt tùy chỉnh -->
    <div id="customSettingsForm" *ngIf="customSettingsFormVisible"
        [style.display]="customSettingsFormVisible ? 'block' : 'none'"
        style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); width: 300px; z-index: 2;">
        <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
            <button class="button button-secondary" type="button" (click)="closeCustomForm()"
                style="margin: -10px;">&#10006;</button>
        </div>
        <h2 style="margin-bottom: 10px;">Form Cài Đặt Tùy Chỉnh</h2>
        <form id="customUpdateForm">
            <label for="customSettingName">Tên cài đặt:</label>
            <input type="text" id="customSettingName" name="customSettingName"><br><br>
            <div style="text-align: center;">
                <button class="button button-primary" type="button" (click)="updateCustomSetting()">Cập nhật</button>
                <button class="button button-secondary" type="button" (click)="deleteCustomSetting()">Xóa</button>
            </div>
        </form>
    </div>
</div>