.container-fluid {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.left-conlumn {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */
    background-color: aqua;
}

.right-column {
    width: 70%;
    height: fit-content;
}

.button-control {
    width: 100%;
    background-color: #f2f2f2;
}

/* .button-control mat-button-toggle-group {
    width: 100%;
} */

button {
    background-color: #309ee2;
    width: 25%;
    /* font-size: 16px; */
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 0%;
    height: fit-content;
}

button:hover {
    background-color: #f2f2f2;
    color: black;
}

.map-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8%;
    padding: 15px 15px 15px 0px;
    background-color: #f0f0f0;
}

.lab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 13%;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 12%;
    margin-right: 1%;
}

.square {
    width: 20px;
    height: 20px;
    margin-left: 12%;
    margin-right: 1%;
}

.black {
    background-color: #000;
}

.yellow {
    background-color: #febf00;
}

.green {
    background-color: #3ad620;
}

.blue {
    background-color: #2c25b4;
}

.red {
    background-color: #f01b23;
}

.map-container {
    width: 100%;
    height: 800px;
}

table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */
    height: 25%;
    width: 100%;
    background-color: rgb(71, 234, 236);
    border: 1px solid black;
    border-collapse: collapse;
}

table th {
    height: 45px;
}

table tr {
    height: 35px;
}

img {
    width: 25px;
    height: 25px;
}

@media (max-width: 1000px) {
    .button-control button {
        height: 70px;
    }

    table {
        height: fit-content;
    }

    .left-conlumn,
    .right-column {
        width: 100%;
        margin-top: 15px;
    }
}