* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 25px;
}

/* Header/Blog Title */
.header {
    padding: 10px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 30px;
}

.row h2 {

    font-size: 20px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #309ee2;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 30px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create two unequal columns that floats next to each other */
.column {
    width: 50%;
    padding: 5px;
}

/* Left column */
.leftcolumn {
    width: 50%;
    margin-left: 5px;
}

/* Right column */
.rightcolumn {
    float: right;
    right: 2px;
    width: 50%;

}

.img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* Fake image */
.Controller {
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #f3f3f3;
    width: 100%;
    height: 100%;
    padding: 20px;

}

.lable_Warning {
    font-size: 150%;
    background-color: rgb(215, 215, 215);
    color: rgb(247, 3, 3);
    position: relative;
    top: 50%;
    left: 0%;
    width: 100%;
    height: 50px;
    border: 0px solid black;
    padding: 15px;
}

/* GIAO DIEN SCADA  START*/
/* Thiết lập giao dien SCADA */

/* image_Ong_thang_ngang6 - BO QUAN TRAC */

/* ONG THANG NGANG 4 */
/* .Controller .Ong_thang_ngang4 {
    position: absolute;
    width: 250px;
    height: 100px;
} */

/* image_Ong_thang_ngang4 */
.Controller .image_Ong_thang_ngang4 img {
    position: absolute;
    top: 82%;
    left: 0%;
    width: 20%;
    height: 13%;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Ong_thang_ngang4_ON {
    position: absolute;
    top: 80%;
    left: 0%;
    width: 20%;
    height: 12%;
    opacity: 0;
    z-index: 2;
}

/* .Controller .Ong_thang_ngang6 {
    position: absolute;
    width: 250px;
    height: 100px;
} */

.Controller .image_Ong_thang_ngang6 img {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 10%;
    height: 2%;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Ong_thang_ngang6_ON {
    position: absolute;
    top: 230px;
    left: 340px;
    width: 15px;
    height: 10px;
    opacity: 0;
    z-index: 2;
}

/* image_Ong_thang_doc1 - BO QUAN TRAC */
.Controller .Ong_thang_doc5 {
    position: absolute;
    width: 250px;
    height: 100px;
}

.Controller .image_Ong_thang_doc5 img {
    position: absolute;
    top: 50%;
    left: 405px;
    width: 15px;
    height: 15px;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Ong_thang_doc5_ON {
    opacity: 0;
    z-index: 2;
}

/* image_Van_ giam_ap */
/* .Controller .Van_giam_ap {
    position: absolute;
    width: 250px;
    height: 100px;
} */

.Controller .image_Van_giam_ap img {
    position: absolute;
    top: 72%;
    left: 18.5%;
    width: 10%;
    height: 24%;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Van_giam_ap_ON {
    opacity: 0;
    z-index: 2;
}

/* image_Ong_thang_doc1 BO DIEU KHIEN*/
.Controller .Ong_thang_doc3 {
    position: absolute;
    width: 250px;
    height: 100px;
}

.Controller .image_Ong_thang_doc3 img {
    position: absolute;
    top: 61.5%;
    left: 20%;
    width: 1.2%;
    height: 24%;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Ong_thang_doc3_ON {
    opacity: 0;
    z-index: 2;
}

/* image_Ong_thang_doc1  BO DIEU KHIEN*/
.Controller .Ong_thang_doc4 {
    position: absolute;
    width: 250px;
    height: 100px;
}

.Controller .image_Ong_thang_doc4 img {
    position: absolute;
    top: 61.5%;
    left: 26%;
    width: 1.2%;
    height: 24%;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Ong_thang_doc4_ON {
    opacity: 0;
    z-index: 2;
}

/* image_Ong_thang_ngang4 */
.Controller .Ong_thang_ngang5 {
    position: absolute;
    width: 250px;
    height: 100px;
}

.Controller .image_Ong_thang_ngang5 img {
    position: absolute;
    top: 82%;
    left: 27%;
    width: 25%;
    height: 13%;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Ong_thang_ngang5_ON {
    position: absolute;
    top: 82%;
    left: 27%;
    width: 28%;
    height: 13%;
    opacity: 0;
    z-index: 2;
}

/* image_Ong_thang_ngang4 */
/* .Controller .Ong_thang_ngang7 {
    position: absolute;
    width: 250px;
    height: 100px;
} */

.Controller .image_Ong_thang_ngang7 img {
    position: absolute;
    top: 82%;
    left: 50.9%;
    width: 25%;
    height: 13%;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Ong_thang_ngang7_ON {
    position: absolute;
    top: 82%;
    left: 47.9%;
    width: 25%;
    height: 13%;
    opacity: 0;
    z-index: 2;
}

/* image_Ong_thang_doc6 - BO DIEM BAT LOI*/
.Controller .Ong_thang_doc6 {
    position: absolute;
    width: 250px;
    height: 100px;
}

.Controller .image_Ong_thang_doc6 img {
    position: absolute;
    top: 78%;
    left: 60.6%;
    width: 1.2%;
    height: 7%;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Ong_thang_doc6_ON {
    opacity: 0;
    z-index: 2;
}

/* image_Ong_thang_doc1 */
.Controller .Ong_L_phaiduoi2 {
    position: absolute;
    width: 250px;
    height: 100px;
}

.Controller .image_Ong_L_phaiduoi2 img {
    position: absolute;
    top: 75.8%;
    left: 60.8%;
    width: 1.2%;
    height: 3%;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Ong_L_phaiduoi2_ON {
    opacity: 0;
    z-index: 2;
}

/* image_Ong_thang_doc7 */
.Controller .Ong_thang_doc7 {
    position: absolute;
    width: 250px;
    height: 100px;
}

.Controller .image_Ong_thang_doc7 img {
    position: absolute;
    top: 78%;
    left: 72.3%;
    width: 1.2%;
    height: 7%;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Ong_thang_doc7_ON {
    opacity: 0;
    z-index: 2;
}

/* image_Ong_L_traiduoi4 */
.Controller .Ong_L_traiduoi3 {
    position: absolute;
    width: 250px;
    height: 100px;
}

.Controller .image_Ong_L_traiduoi3 img {
    position: absolute;
    top: 75.5%;
    left: 72%;
    width: 1.2%;
    height: 3%;
    transition: opacity 0.3s ease;
}

/* Ẩn ảnh thứ hai ban đầu */
.Controller #Ong_L_traiduoi3_ON {
    opacity: 0;
    z-index: 2;
}

.Controller .Tu_quantrac {
    border-radius: 20px;
    font-size: 90%;
    background-color: rgb(32, 203, 10);
    color: white;
    position: absolute;
    top: 72%;
    left: 5%;
    width: 10%;
    height: 10%;
    border: 0px solid black;
    padding: 0.6%;
}

.Controller .Diem_batloi {
    border-radius: 20px;
    font-size: 90%;
    background-color: rgb(187, 132, 12);
    color: white;
    position: absolute;
    top: 72%;
    left: 62%;
    width: 10%;
    height: 10%;
    border: 0px solid black;
    padding: 1.2%;
}

/* image_Hotel */
.Controller .image_Hotel img {
    position: absolute;
    top: 15%;
    left: 74%;
    width: 17%;
    height: 80%;
}

.Controller .Bo_dieukhien {
    border-radius: 15px;
    font-size: 10px;
    background: #4585b3;
    position: absolute;
    top: 12%;
    left: 18%;
    width: 16.5%;
    height: 50%;
    padding: 2px;
}

.Controller .Trangthai_van {
    border-radius: 10px;
    font-size: 10px;
    background: #d0dbe3;
    position: absolute;
    top: 19%;
    left: 19%;
    width: 14.5%;
    height: 15%;
    padding: 1px;
}



/* NUT NHAN GAT 1 */
.switch1 {
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 19%;
    width: 5%;
    height: 6%;
}

.switch1 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider1:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 70%;
    top: 14.2%;
    left: 10%;
    bottom: 5%;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider1 {
    background-color: #29d32f;
}

input:checked+.slider1:before {
    transform: translateX(160%);
}

/* NUT NHAN GAT 2 */
.switch2 {
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 28%;
    width: 5%;
    height: 6%;
}

.switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider2:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 70%;
    top: 14.2%;
    left: 10%;
    bottom: 5%;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider2 {
    background-color: #35c83a;
}

input:checked+.slider2:before {
    transform: translateX(160%);
}

/* NUT NHAN GAT 3 */
.switch3 {
    position: absolute;
    display: inline-block;
    top: 52%;
    left: 19%;
    width: 5%;
    height: 6%;
}

.switch3 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider3 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider3:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 70%;
    top: 14.2%;
    left: 10%;
    bottom: 5%;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider3 {
    background-color: #35c83a;
}

input:checked+.slider3:before {
    transform: translateX(160%);
}

/* NUT NHAN GAT 4 */
.switch4 {
    position: absolute;
    display: inline-block;
    top: 52%;
    left: 28%;
    width: 5%;
    height: 6%;
}

.switch4 input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider4 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider4:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 70%;
    top: 14.2%;
    left: 10%;
    bottom: 5%;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider4 {
    background-color: #35c83a;
}

input:checked+.slider4:before {
    transform: translateX(160%);
}

/* TABLE 4 */
/* .Controller .hidden-table4 {
    border-collapse: collapse;
    width: 200px;
    position: absolute;
    top: 90px;
    left: 10px;
} */

/* .Controller .hidden-table4 th,
td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #fcf3f3;
}

tr:hover {
    background-color: rgb(107, 105, 105);
} */

/* PHAN THONG TIN HE THONG */
.Setup {
    /* position: relative; */
    top: 0px;
    left: 0px;
    background-color: #fffafa;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 1%;
}

/* TABLE 1 */
/* .Setup .hidden-table1 {
    border-collapse: collapse;
    font-size: 12px;
    width: 45%;
    position: absolute;
    left: 2%;
    top: 5px;
} */

/* .Setup .hidden-table1  */
table{
    height: 100%;
    width: 45%;
    margin: 0 2.5% 0;
}
th,td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #575050;
}

tr:hover {
    background-color: rgb(74, 70, 70);
    color: white;
}



/* TABLE 3 */
/* .Setup .hidden-table3 {
    border-collapse: collapse;
    font-size: 12px;
    width: 45%;
    position: absolute;
    left: 53%;
    top: 5px;
}

.Setup .hidden-table3 th,
td {
    padding: 2px;
    text-align: left;
    border-bottom: 1px solid #917373;
}

tr:hover {
    background-color: rgb(107, 105, 105);
} */


/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    height: 50%;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #d04a4a;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
/* @media screen and (max-width: 800px) {
    .column-left,
    .column-right {
      width: 100%;
    }

} */
@media (max-width: 1000px) {
    .column {
        width: 100%;
        margin-top: 15px;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {

    /* Add a card effect for articles */
    .card {
        background-color: white;
        padding: 20px;
        margin-top: 20px;
        height: 50%;
    }
    .Setup {
        /* position: relative; */
        top: 0px;
        left: 0px;
        background-color: #fffafa;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1%;
    }
    table{
        height: 45%;
        width: 95%;
        margin: 0 2.5% 0;
    }
}