<div class="container-fluid">
    <h1>Tìm kiếm</h1>
    <form>
        <mat-form-field appearance="outline" class="w-100">
            <mat-label>Địa chỉ</mat-label>
            <input matInput placeholder="Nhập địa chỉ">
        </mat-form-field>
        <div align="center">
            <button mat-stroked-button color="primary" style="margin-right: 3px;" (click)="clickCancel()">Hủy</button>
            <button type="submit" mat-stroked-button color="primary">Tìm kiếm</button>
            <!-- <button type="submit"  mat-stroked-button color="primary">Sửa </button> -->
        </div>
    </form>
</div>