<div class="container-fluid">
    <div class="leftcolumn">
        <div class="card">
            <div class="lable_Status">
                <h2>TRẠNG THÁI</h2>
            </div>
            <div class="container-fluid-1">
                <div class="container_status">
                    <p style="text-align: center; color: rgb(0, 0, 0)"> <b> THÔNG TIN TRẠM </b></p>
                    <p style="text-align: left; color: rgb(255, 255, 255)"> Số trạm đang vận hành:</p>
                    <p id="myStation"> </p>
                </div>

                <div class="container_status">
                    <p style="text-align: center; color: rgb(0, 0, 0)"> <b> THÔNG TIN SỰ CỐ </b></p>
                    <p style="text-align: left; color: rgb(255, 255, 255)"> Số trạm đang gặp sự cố:</p>
                    <p id="myProlem"> </p>
                </div>

                <div class="container_status">
                    <p style="text-align: center; color: rgb(0, 0, 0)"> <b> THÔNG TIN ĐIỂM BẤT LỢI </b></p>
                    <p style="text-align: left; color: rgb(255, 255, 255)"> Số trạm đang chạm điểm setpoint:</p>
                    <p id="myPointBad"> </p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="lable_Status">
                <h2>THÔNG BÁO</h2>
            </div>
            <div class="area-text">
                
            </div>
        </div>
    </div>
</div>