<p>resovle-problem works!</p>
<input type="text" id="searchInput" [(ngModel)]="query">
<button id="searchButton" (click)="search()">Thông tin Trạm</button>

<table *ngIf="showTables" class="hidden-table1">
    <!-- Table content here -->
    <tr>
        <th colspan="3">SV1: Bộ điểm bất lợi</th>
    </tr>
    <tr>
        <td>Lưu lượng thuận:</td>
        <td id="luu_luong_thuan_value"></td>
        <td>(m³/s)</td>
    </tr>
    <tr>
        <td>Lưu lượng nghịch:</td>
        <td id="luu_luong_nghich_value"></td>
        <td>(m³/s)</td>
    </tr>
    <tr>
        <td>Dung lượng pin:</td>
        <td id="pin_value"></td>
        <td>(%)</td>
    </tr>
</table>

<!-- Bảng SV2 -->
<table *ngIf="showTables" class="hidden-table2">
    <tr>
        <th colspan="3">SV2: Bộ quang trắc chất lượng nước</th>
    </tr>
    <tr>
        <td>Độ pH:</td>
        <td id="pH_value"></td>
        <td>(ph)</td>
    </tr>
    <tr>
        <td>Độ Clo dư:</td>
        <td id="clo_value"></td>
        <td>(ppm)</td>
    </tr>
    <tr>
        <td>Độ đục:</td>
        <td id="duc_value"></td>
        <td>(ntu)</td>
    </tr>
    <tr>
        <td>Độ dẫn điện:</td>
        <td id="dien_value"></td>
        <td>(mS/cm)</td>
    </tr>
    <tr>
        <td>Dung lượng pin:</td>
        <td id="battery_value"></td>
        <td>(%)</td>
    </tr>
</table>